<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QvBigDataConn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QvBigDataConn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <QvBigDataConn.Properties.Settings>
      <setting name="Hostname" serializeAs="String">
        <value>54.218.97.70</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>21050</value>
      </setting>
      <setting name="Queue" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="Auth" serializeAs="String">
        <value>auth=noSasl</value>
      </setting>
      <setting name="UpgradeFromPrevious" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="UrlPrefix" serializeAs="String">
        <value>hive2</value>
      </setting>
      <setting name="LastDriver" serializeAs="String">
        <value>0</value>
      </setting>
    </QvBigDataConn.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <QvBigDataConn.Properties.Settings>
      <setting name="SimulateQuery" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TestDataFilename" serializeAs="String">
        <value>TestData.qvx</value>
      </setting>
      <setting name="DisableCustomSQLButton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisableQlikViewSelectButton" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageWaitMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SimulateConnection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Drivers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>org.apache.hive.jdbc.HiveDriver</string>
            <string>org.apache.hadoop.hive.jdbc.HiveDriver</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DriverLocations" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>impala-jdbc-0.5-2</string>
            <string>impala-jdbc-0.5-2</string>
          </ArrayOfString>
        </value>
      </setting>
    </QvBigDataConn.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>